apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 66.2.1
    chart: kube-prometheus-stack
    helm:
      values: |
        defaultRules:
          create: true
          rules:
            alertmanager: true
            etcd: true
            configReloaders: true
            general: true
            k8s: true
            kubeApiserver: true
            kubeControllerManager: true
            kubeDns: true
            kubeEtcd: true
            kubeProxy: true
            kubeScheduler: true
            kubeStateMetrics: true
            kubelet: true
            network: true
            node: true
            nodeExporter: true
            prometheus: true
            prometheusOperator: true
        
        prometheusOperator:
          enabled: true
          admissionWebhooks:
            enabled: true
        
        prometheus:
          enabled: true
          prometheusSpec:
            retention: 30d
            retentionSize: 50GB
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 50Gi
        
        alertmanager:
          enabled: true
          alertmanagerSpec:
            retention: 120h
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 5Gi
        
        grafana:
          enabled: true
          adminPassword: prom-operator
          defaultDashboardsEnabled: true
          defaultDashboardsTimezone: UTC
          persistence:
            enabled: true
            storageClassName: local-path
            size: 10Gi
          ingress:
            enabled: true
            className: nginx
            hosts:
              - grafana.malefstorm.ru
            tls:
              - secretName: grafana-tls
                hosts:
                  - grafana.malefstorm.ru
          grafana.ini:
            server:
              root_url: https://grafana.malefstorm.ru
            auth:
              disable_login_form: false
            users:
              default_theme: dark
            security:
              allow_embedding: true
          sidecar:
            dashboards:
              enabled: true
              searchNamespace: ALL
            datasources:
              enabled: true
              searchNamespace: ALL
        
        kube-state-metrics:
          enabled: true
        
        kubeDns:
          enabled: true
        
        coredns:
          enabled: false
        
        nodeExporter:
          enabled: true
        
        kubelet:
          enabled: true
          serviceMonitor:
            enabled: true
            interval: 30s
        
        kubeControllerManager:
          enabled: true
          endpoints:
            - 10.43.0.1
          serviceMonitor:
            enabled: true
            interval: 30s
        
        kubeScheduler:
          enabled: true
          endpoints:
            - 10.43.0.1
          serviceMonitor:
            enabled: true
            interval: 30s
        
        kubeProxy:
          enabled: true
          serviceMonitor:
            enabled: true
            interval: 30s
        
        kubeEtcd:
          enabled: false
        
        kubeApiServer:
          enabled: true
          serviceMonitor:
            enabled: true
            interval: 30s
  destination:
    server: https://kubernetes.default.svc
    namespace: gitea
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
