apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.11.3
    chart: ingress-nginx
    helm:
      values: |
        controller:
          kind: Deployment
          replicaCount: 2
          image:
            repository: registry.k8s.io/ingress-nginx/controller
            tag: v1.11.3
            digest: ""
            pullPolicy: IfNotPresent
          
          service:
            enabled: true
            type: LoadBalancer
            externalTrafficPolicy: Local
            annotations:
              metallb.universe.tf/address-pool: default
          
          ingressClassResource:
            name: nginx
            enabled: true
            default: true
            controllerValue: k8s.io/ingress-nginx
          
          admissionWebhooks:
            enabled: true
            patch:
              enabled: true
          
          metrics:
            enabled: true
            service:
              annotations:
                prometheus.io/scrape: "true"
              port: 10254
              targetPort: 10254
            serviceMonitor:
              enabled: true
              namespace: monitoring
          
          config:
            allow-snippet-annotations: "true"
            hide-headers: "X-Powered-By,Server"
            server-tokens: "false"
            use-forwarded-headers: "true"
            compute-full-forwarded-for: "true"
            proxy-body-size: "100m"
            client-max-body-size: "100m"
            ssl-protocols: "TLSv1.2 TLSv1.3"
            ssl-ciphers: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384"
          
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 500Mi
          
          nodeSelector: {}
          tolerations: []
          affinity: {}
        
        defaultBackend:
          enabled: true
          image:
            repository: registry.k8s.io/defaultbackend-amd64
            tag: "1.5"
            pullPolicy: IfNotPresent
          replicaCount: 1
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 20m
              memory: 40Mi
        
        rbac:
          create: true
          scope: false
        
        serviceAccount:
          create: true
          name: ""
        
        podSecurityPolicy:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
